<section class="page-section analysis" id="analysis">
            <div class="container">
                <!-- Analysis Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Analysis</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-chart-line"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <h4 class="page-section-subheading text-center text-uppercase text-secondary mb-0">Click to expand</h4>
                <br>
                <!-- Analysis Grid Items-->
                <div class="row">
                    <!-- Unemployment-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="analysis-item mx-auto" data-toggle="modal" data-target="#analysisModal1">
                            <div class="analysis-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="analysis-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/analysis/briefcase.png" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/>
                        </div>
                    </div>
                    <!-- Businesses-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="analysis-item mx-auto" data-toggle="modal" data-target="#analysisModal2">
                            <div class="analysis-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="analysis-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/analysis/handshake.png" alt="" height="300" width="300" align="middle" hspace="15" vspace="13"/>
                        </div>
                    </div>
                    <!-- GDP-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="analysis-item mx-auto" data-toggle="modal" data-target="#analysisModal3">
                            <div class="analysis-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="analysis-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/analysis/chart.svg" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/>
                        </div>
                    </div>
                    <!-- Commodities-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="analysis-item mx-auto" data-toggle="modal" data-target="#analysisModal4">
                            <div class="analysis-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="analysis-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/analysis/oilcan.svg" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/>
                        </div>
                    </div>
                    <!-- Medicine-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="analysis-item mx-auto" data-toggle="modal" data-target="#analysisModal5">
                            <div class="analysis-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="analysis-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/analysis/syringe.png" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/>
                        </div>
                    </div>
                    <!-- Virginia-->
                    <div class="col-md-6 col-lg-4">
                        <div class="analysis-item mx-auto" data-toggle="modal" data-target="#analysisModal6">
                            <div class="analysis-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="analysis-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/analysis/heart.png" alt="" height="220" width="220" align="middle" hspace="55" vspace="55"/>
                        </div>
                    </div>

                </div>
            </div>
        </section>