<!-- Cases Section-->
<section class="page-section bg-primary text-white mb-0" id="covid">
    <div class="container">
        <!-- Cases Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Covid-19 Cases</h2>
        <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-globe"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
        <!-- Cases Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead"> </p></div>
        </div>
        {% include "charts/covid19.html" %}
    </div>
</section>