<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>How Does Mask Adherence Affect COVID-19 Cases? | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Independent Research
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Independent Research</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div>
        <h2 class="my-3" style="text-align:center;">How Does Mask Adherence Affect COVID-19 Cases?</h2>

      <hr>

        <!-- Date/Time -->
        <p style="text-align:center;">Posted June 1, 2021 by <a href="/about">econScope</a></p>

        <hr>
      <br>

      <iframe src="templates/research/EfficacyofMaskUsageAdherence.pdf#toolbar=0" width="100%" height="1000px">
        </iframe>

    </div>
    <!-- /.row -->


  </div>
  <br>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
