<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="/assets/img/my_avatar.svg" alt="" /><!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">econScope</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-hand-holding-usd"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h3>Viewing the world through the economic lens of a student.</h3>
        <br>


    </div>
</header>