<!-- analysis Modals-->
<!-- Unemployment-->
        <div class="analysis-modal modal fade" id="analysisModal1" tabindex="-1" role="dialog" aria-labelledby="analysisModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- analysis Modal - Title-->
                                    <h2 class="analysis-modal-title text-secondary text-uppercase mb-0">Unemployment</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-briefcase"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- analysis Modal - Image-->

                            <a href="https://www.nytimes.com/2020/04/03/upshot/coronavirus-jobless-rate-great-depression.html">
                                <img alt="New York Times" src="assets/img/analysis/unemploymentrate.png"
                                width=475" height="400" align="middle" hspace="40" vspace="40">
                            </a>

                                    <!-- analysis Modal - Text-->
                                    <p class="mb-5 text-left">{% include "content/analysis_unemployment.txt" %}</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Businesses-->
        <div class="analysis-modal modal fade" id="analysisModal2" tabindex="-1" role="dialog" aria-labelledby="analysisModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- analysis Modal - Title-->
                                    <h2 class="analysis-modal-title text-secondary text-uppercase mb-0">Businesses</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-handshake"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- analysis Modal - Image     <img class="img-fluid rounded mb-5" src="assets/img/analysis/handshake.png" alt="" height="300" width="300" align="middle" hspace="15" vspace="13"/> -->
                                    <a href="https://www.bbc.com/news/business-51706225">
                                        <img alt="BBC" src="assets/img/analysis/flights.png"
                                        width="470" height="385" align="middle" hspace="40" vspace="40">
                                    </a>
                                    <!-- analysis Modal - Text-->
                                    <p class="mb-5 text-left">{% include "content/analysis_businesses.txt" %}</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- GDP -->
        <div class="analysis-modal modal fade" id="analysisModal3" tabindex="-1" role="dialog" aria-labelledby="analysisModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- analysis Modal - Title-->
                                    <h2 class="analysis-modal-title text-secondary text-uppercase mb-0">GDP</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-chart-bar"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- analysis Modal - Image-->
                                    <a href="https://hbr.org/2020/03/understanding-the-economic-shock-of-coronavirus">
                                        <img alt="Harvard Business Review" src="assets/img/analysis/gdpgraphs.png"
                                        width="700" height="180" align="left" hspace="0" vspace="40">
                                    </a>
                                    <!-- analysis Modal - Text-->
                                    <p class="mb-5 text-left">{% include "content/analysis_gdp.txt" %}</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Commodities-->
        <div class="analysis-modal modal fade" id="analysisModal4" tabindex="-1" role="dialog" aria-labelledby="analysisModal4Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- analysis Modal - Title-->
                                    <h2 class="analysis-modal-title text-secondary text-uppercase mb-0">Commodities</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-oil-can"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- analysis Modal - Image<img class="img-fluid rounded mb-5" src="assets/img/analysis/oilcan.svg" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/>-->
                                    <a href="https://www.bbc.com/news/business-51706225">
                                        <img alt="BBC" src="assets/img/analysis/oilprice.png"
                                        width="450" height="330" align="middle" hspace="40" vspace="0">
                                    </a>
                                    <a href="https://www.bbc.com/news/business-51706225">
                                        <img alt="BBC" src="assets/img/analysis/orangejuice.png"
                                        width="400" height="325" align="middle" hspace="40" vspace="40">
                                    </a>
                                    <!-- analysis Modal - Text-->
                                    <p class="mb-5 text-left">{% include "content/commodities.txt" %}</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!-- analysis Modal 5-->
        <div class="analysis-modal modal fade" id="analysisModal5" tabindex="-1" role="dialog" aria-labelledby="analysisModal5Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- analysis Modal - Title-->
                                    <h2 class="analysis-modal-title text-secondary text-uppercase mb-0">Medicine</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-syringe"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- analysis Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/analysis/syringe.png" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/><!-- analysis Modal - Text-->
                                    <p class="mb-5">Coming soon!</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- analysis Modal 6-->
        <div class="analysis-modal modal fade" id="analysisModal6" tabindex="-1" role="dialog" aria-labelledby="analysisModal6Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- analysis Modal - Title-->
                                    <h2 class="analysis-modal-title text-secondary text-uppercase mb-0">Virginia</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-heart"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- analysis Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/analysis/heart.png" alt="" height="250" width="250" align="middle" hspace="40" vspace="40"/><!-- analysis Modal - Text-->
                                    <p class="mb-5">Coming soon!</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>