<!-- Safety Section-->
<section class="page-section bg-primary text-white mb-0" id="safety">
    <div class="container">
        <!-- Safety Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Stay Safe</h2>
        <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-user-shield"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
        <!-- Safety Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead"> </p></div>
        </div>
        <h5>WHAT:</h5>
        <p>Covid-19 is an infectious respiratory disease that is spread from person to person, caused primarily through respiratory droplets from coughing and sneezing. Symptoms range from mild to severe, commonly consisting of a fever, cough, and difficulty breathing. Some people with the infection are asymptomatic.</p>
        <br>
        <h5>DO:</h5>
        <ul style="list-style-type:disc">
            <li>Wash your hands for 20 seconds with soap and water. If soap and water are unavailable, use a hand sanitizer containing at least 60% alcohol.</li>
            <li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze.</li>
            <li>Avoid close contact (within 6 feet) with people who are sick.</li>
            <li>Stay home and self-isolate from others in the household, especially if you feel sick.</li>
            <li>Wear a face mask if you are sick, as recommended by the CDC.</li>
            <li>Clean and disinfect frequently touched surfaces daily using common EPA-registered household disinfectants.</li>
        </ul>
        <br>
        <h5>DON'T:</h5>
        <ul style="list-style-type:disc">
            <li>Touch your eyes, nose, or mouth if your hands are not clean.</li>
            <li>Leave your house unless seeking medical attention, going to work, obtaining groceries, etc.</li>
            <li>Share personal household items such as dishes, drinking glasses, cups, eating utensils, towels, or bedding.</li>
            <li>Congregate in gatherings of more than 10 people.</li>
        </ul>
    </div>
</section>