<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 1/30/2021 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 1/30/2021
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/saved-stimulus-checks-expected-to-help-spur-economic-recovery-11611657001">
        <img class="img-fluid rounded" src="templates/img/updates/2021/savings.png" height="400" width="350" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 31, 2021</p>

        <hr>

        <!-- Post Content -->
        <p class="lead"> The most recent federal aid package passed in December 2020 provided $600 in individual stimulus to eligible households.  </p>

          <p>Additionally, households not in crucial financial strain curbed their spending at the onset and duration of the COVID-19 pandemic. As a result, both of the aforementioned groups are likely starting the year 2021 with savings that can help boost economic recovery this year. According to Berenberg Economics, households in the U.S. saved a total of $1.4 trillion in the first three quarters of 2020, which was double the amount saved in the first three quarters of 2019. In addition, this savings amount was nearly 10% of household spending in 2019. Furthermore, President Biden is pushing for a new $1.9 trillion COVID-19 federal stimulus package to assist Americans monetarily with the hardships brought by the COVID-19 pandemic. So far, Biden’s plan outlines $1400 direct stimulus payments to households and an additional $400 in weekly unemployment insurance until September 2021.</p>

          <p>In response to the COVID-19 pandemic last year, the Federal Reserve cut interest rates near zero and initiated a process of buying billions of dollars in bonds. These actions aim to support borrowing, spending, and investment to boost economic activity in the U.S. Despite the recent surges in COVID-19 cases and falters in business activity, the Federal Reserve plans to sustain these programs until mass distribution of vaccines can smooth the effects of the COVID-19 pandemic and help the economy recover. Along with other economists, the Federal Reserve expects the economy to make significant recovery progress in the latter half of 2021. If economic activity and vaccine distribution execute as expected, the Federal Reserve expects that U.S. economic output will grow 4.2% in 2021 and that the U.S. unemployment rate will fall to 5% by the end of the year. Currently, however, rollout of COVID-19 vaccines have been slower than officials had hoped.</p>

          <p>As official agencies gather their final economic reports of 2020, we can see that the U.S. experienced significant growth in the fourth quarter of 2020. According to the Commerce Department, U.S. gross domestic product grew at a 4% yearly rate in the final quarter. This followed a 33.4% annual growth rate in the previous quarter of 2020. However, these substantial improvements in the U.S. economy were not enough to compensate for the economic consequences of the COVID-19 pandemic. Overall, the U.S. economy contracted 3.5% in 2020, which was the first contraction since the 2008 financial crisis. Although consumer spending and business activity experienced large slowdowns, economists are confident that continued investment, additional federal monetary assistance, and vaccine distribution can lead the U.S. toward a faster and stronger recovery later in 2021.</p>

          <p>U.S. household income rose at the end of 2020 after three consecutive months of declines in household income. The Commerce Department reported a 0.6% increase in household income from November to December, indicating that family incomes from wages, investment return, and federal aid programs increased. Economists and other officials believe that this increase stemmed from additional unemployment benefits that were issued at the end of 2020. Household income is also expected to rise this month, as the government will begin issuing individual stimulus checks of $600 to eligible households. Americans have saved a historically high amount in 2020 since the pandemic started, but have consequently cut back on spending. Consumer spending fell 0.2% in December 2020, and economists expect consumer spending to remain weak in the beginning of 2021 and possibly turn around when the spring season arrives.</p>

          <p>President Biden will sign a Buy American order to make it tougher for federal agencies to buy imports and subsequently increase purchases of domestically produced goods. This is a part of Biden’s Buy American campaign, in which domestic manufacturing is aimed to be strengthened. To do so, the definition of American-made products will be altered and local-content requirements will be raised. The order also provides small and midsize businesses with greater access to information needed to bid for government contracts. While the overall intentions of Biden’s Buy American campaign are similar to Trump’s America First campaign, Biden hopes to work toward friendlier international relationships, avoiding tariff wars that the U.S. experienced under Trump’s administration. Another goal of the Buy American plan is strengthening supply chains in the U.S., since the COVID-19 pandemic exposed various weaknesses in supply chains for distributing healthcare supplies and equipment.</p>


          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2021-january">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            This week's update covers final U.S. economic figures from 2020, including savings, GDP growth, household income, federal spending, and more.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
