<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 3/13/2021 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 3/13/2021
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/u-s-set-to-power-global-economic-recovery-from-covid-19-11615129203">
        <img class="img-fluid rounded" src="templates/img/updates/2021/globalgrowth.png" height="380" width="700" hspace="45" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on March 14, 2021</p>

        <hr>

        <!-- Post Content -->
        <p class="lead"> Economists expect that the U.S. will experience a significant recovery and rebound from the COVID-19 pandemic this year, possibly even contributing more to global economic growth than China for the first time since 2005.    </p>

        <p>Due to the uniqueness of the COVID-19-induced recession and the flexibility of the U.S. economy, the U.S. is set to make a strong comeback from the harmful economic effects of the COVID-19 pandemic. In 2021, the global economy is projected to expand by 6%, 1.6% of which will come from China, and 1.7% of which will come from the U.S. The U.S. economy is larger than China by one-third, so if both countries grow at the same rate then the U.S. will make a greater contribution to global economic expansion. The optimistic predictions for U.S. economic growth come from effective COVID-19 vaccine distribution, the upcoming $1.9 trillion federal stimulus package, and the excess savings that Americans have accumulated over the pandemic. Global trade has also been boosted, as people have increased their tendency to shop online.</p>

          <p>Unexpected economic growth this year for some of the world’s largest economies could upset the balance between countries in the global economy. Specifically, a strong surge in U.S. economic growth could unbalance weaker economies, such as developing countries. According to the Organization for Economic Cooperation and Development (OECD), the increase in U.S. government bond yields could lead to financial assets flowing out of developing economies, which will set back their timelines for vaccine distribution and economic recovery in the long run. Between December and March, the OECD more than doubled their economic growth forecast for the U.S. in 2021, jumping from 3.2% to 6.5%. Much of this change was a result of the extensive federal stimulus that the U.S. government is providing its economy, including the upcoming $1.9 trillion federal stimulus package that will be more widespread as vaccines are continuing distribution across the nation.</p>

          <p>According to the Labor Department, the consumer price index for February 2021, which measures what consumers pay for a typical basket of everyday items, increased 0.4% from the month before. Certain prices drove this increase, such as higher gasoline, electricity, and natural gas prices. Other prices, such as new and used vehicle prices, either stayed flat or decreased. The core price index, a measure that excludes volatile price categories, increased 0.1% from January to February, after remaining flat for the past three months. Because consumer demand for goods and services are increasing, along with the increased need for energy after winter storms, overall prices have increased and shows signs of growing inflation. The proposed $1.9 trillion federal stimulus bill will likely contribute to this rise in demand and prices, which some economists have warned might lead to inflation that is difficult to keep in check.</p>

          <p>In the week that ended on March 6, 0.721 million jobless claims were filed. This initial weekly amount marks the lowest level since the start of the COVID-19 pandemic in March 2020. These optimistic measures reflect increased hiring and slow but sure steps toward recovery in the labor market. The four-week average, however, was slightly higher than the previous pandemic low in November. Thanks to the nearly 400,000 jobs added by employers in February 2021 and the help from government monetary stimulus that caused a rise in consumer spending, economists generally expect the labor market to continue showing signs of recovery as the U.S. economy picks up. According to Daniel Zhao, senior economist at Glassdoor, the mass distribution of the COVID-19 vaccine “is actually the best economic stimulus.” With more widespread vaccinations, consumers are more likely to boost spending and help the economy recover from the COVID-19-induced recession.</p>




          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2021-march">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            This week's update covers forecasts for global economic growth in 2021 as well as recent reports of changes in CPI and unemployment in the U.S.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
