<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 3/20/2021 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 3/20/2021
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/china-becomes-first-major-economy-to-start-withdrawing-pandemic-stimulus-efforts-11615730401">
        <img class="img-fluid rounded" src="templates/img/updates/2021/fiscal.png" height="400" width="350" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on March 21, 2021</p>

        <hr>

        <!-- Post Content -->
        <p class="lead"> China has started its process to begin withdrawing economic stimulus efforts due to the COVID-19 pandemic.     </p>

        <p>In total, China has spent less on federal stimulus measures than other developing countries, totaling $0.9 trillion for its key fiscal measures in response to the COVID-19 pandemic. By contrast, the U.S. has spent $4.01 trillion on federal economic stimulus to aid its struggling economy. China will be the first economy to start unwinding its economic stimulus, so it is facing unprecedented challenges regarding the balance between market stability and economic growth. Mistakes in handling this risky process could result in disrupted economic recovery, more debt defaults, or uncertainty in stock markets. Because of the many risks, Chinese economists and officials will likely move slowly by targeting certain parts of the economy and gradually tightening credit. China’s goal for economic growth in 2021 is “above 6%,” which is relatively low for the large economy since it considers the risks of withdrawing economic stimulus.</p>

        <p>The Federal Reserve will maintain its easy-money monetary policies until the economy reflects further recovery and growth from the setback of the COVID-19 pandemic. According to recent economic projections, most of the Federal Reserve officials want to keep interest rates near zero until 2023, but an increased number want to start lifting interest rates in 2022 or 2023. Until “substantial further progress” is made in the U.S. economy, the Federal Reserve will continue to buy $120 billion worth of Treasury debt and mortgage-backed securities each month. Officials have changed their economic expectations to be more optimistic; the median forecast for U.S. GDP growth in 2021 increased to 6.5% from the 4.2% reported in December. Additionally, expectations for unemployment at the end of 2021 have been lowered to 4.5% from the 6.2% reported in February. The officials also expect for inflation to rise 2.4% in 2021, compared to the 1.8% prediction in December.</p>

        <p>According to the Commerce Department, sales at stores, restaurants, and online slumped by 3% in February compared to January. While the sales volume was $579.12 million in January, the sales volume dropped to $561.69 million in February. This decrease was likely due to recent winter storms and disruptions in supply chains, but economists still expect an overall economic rebound this spring as the pandemic eases and additional federal stimulus starts to roll out. The areas in which U.S. consumers spent less include the following: autos, furniture, electronics, home improvement, healthcare, and apparel. Although retail sales decreased in February, the retail sales over the past three months are 6% greater than during the same period a year ago. Furthermore, officials have seen other changes that point in the direction of stronger economic recovery. The labor market is slowly but surely adding jobs, and U.S. manufacturing is showing signs of expansion.</p>

        <p>Initial unemployment claims rose to 770,000 in the week that ended on March 13, 2021. While marking an increase from the previous week, jobless claims still seem to be hovering around the COVID-19 pandemic’s lowest levels. According to some economists, roughly half of the increase in unemployment claims from the most recent reported data come from Texas, which are likely due to the winter storm that caused mass power outages and energy shocks. Despite this mild increase in weekly initial jobless claims, economists are still hopeful for a strong economic recovery and rebound in the year 2021. A major part of economic recovery consists of strengthened consumer spending. Spending on services that were deeply affected by the COVID-19 pandemic, such as travel and entertainment, could really help improve conditions in the labor market.</p>




          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2021-march">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            Read about the start of withdrawing COVID-19 economic stimulus, the Federal Reserve's continued easy-money policies, as well as changes in sales and employment in the U.S.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
