<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>COVID-19 Safety Information | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">COVID-19
      <small>Safety Information</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">COVID-19 Safety Information</li>
    </ol>

    <!-- Intro Content -->
    <div>
      <!--<div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>-->
      <div>
        <h2>COVID-19 Safety Information</h2>
          <h3>What:</h3>
        <p>Covid-19 is an infectious respiratory disease. The coronavirus is spread from person to person, caused primarily through respiratory droplets from coughing and sneezing. Symptoms range from mild to severe, with most patients developing a fever, cough, and difficulty breathing. Some people with the infection are asymptomatic.</p>
          <h3>Do:</h3>
        <ul>
          <li>Wash your hands for 20 seconds with soap and water. If soap and water are unavailable, use a hand sanitizer containing at least 60% alcohol.</li>
          <li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze.</li>
          <li>Avoid close contact (within 6 feet) with people who are sick.</li>
          <li>Stay home and self-isolate from others in the household, especially if you feel sick.</li>
          <li>Wear a face mask if you are sick, as recommended by the CDC.</li>
          <li>Clean and disinfect frequently touched surfaces daily using common EPA-registered household disinfectants.</li>
        </ul>
          <h3>Don't:</h3>
          <ul>
            <li>Touch your eyes, nose, or mouth if your hands are not clean.</li>
            <li>Leave your house unless seeking medical attention, going to work, obtaining groceries, etc.</li>
            <li>Share personal household items such as dishes, drinking glasses, cups, eating utensils, towels, or bedding.</li>
            <li>Congregate in gatherings of more than 10 people.</li>
          </ul>
        <br>
          <h3>Sources: </h3>
          <ul>
            <li>Centers for Disease Control and Prevention (CDC)</li>
            <li>Virginia Department of Health (VDH)</li>
            <li>World Health Organization (WHO)</li>
          </ul>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <!-- <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div>-->
    <!-- /.row -->

    <!-- Our Customers -->
    <!--<h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div>-->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
