<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="templates/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="templates/css/modern-business.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="templates/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="templates/vendor/bootstrap/css/custom.css">

<link rel="icon" href="templates/img/icon.png">