<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% include "static/header.html" %}
    </script>
</head>
<body>
    <!-- back to homepage -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">econScope</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive"></div>
    </div>
</nav>



    <!-- Update Section-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h2 class="masthead-heading text-uppercase mb-0">Weekly Update Archives</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-bell"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <h4>Weekly recapitulations of changes in the U.S. and global economy.</h4>
            <br>
        </div>
    </header>
    <section class="page-section update" id="update">
        <div class="container">
            <!-- Divider (lines + title), div type, images, text  -->
            {% include "content/update07112020.txt" %}
            <br><br>
            {% include "content/update07042020.txt" %}
            <br><br>
            {% include "content/update06272020.txt" %}
            <br><br>
            {% include "content/update06202020.txt" %}
            <br><br>
            {% include "content/update06132020.txt" %}
            <br><br>
            {% include "content/update06062020.txt" %}
            <br><br>
            {% include "content/update05302020.txt" %}
            <br><br>
            {% include "content/update05232020.txt" %}
            <br><br>
            {% include "content/update05162020.txt" %}
            <br><br>
            {% include "content/update05092020.txt" %}
            <br><br>
            {% include "content/update05022020.txt" %}
            <br><br>
            {% include "content/update04252020.txt" %}
        </div>
    </section>


</body>
</html>