<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>COVID-19 Economic Analysis | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">COVID-19
      <small>Economic Analysis</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">COVID-19 Economic Analysis</li>
    </ol>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
          <a href="/covid19-dec2020-stimulus">
          <img src="templates/img/analysis/dec2020.png" width="500" height="355" hspace="65">
              </a>
      </div>
      <div class="col-md-5">
        <h3>December 2020 Stimulus Bill</h3>
        <p>The U.S. economy is still slowly recovering from the hardships of the COVID-19 pandemic. Discussion of a new stimulus bill have circulated for months, but Congress finally proposed a new stimulus bill in December of 2020.</p>
        <a class="btn btn-primary" href="/covid19-dec2020-stimulus">View Analysis
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

    <hr>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
          <a href="/covid19-gvmt-stimulus">
          <img src="templates/img/analysis/stimulus.png" width="511" height="350" hspace="60">
              </a>
      </div>
      <div class="col-md-5">
        <h3>Government Stimulus Programs</h3>
        <p>Ever since the COVID-19 pandemic first became widespread throughout the U.S. in March of 2020, the Federal Reserve has launched a number of federal stimulus programs to aid businesses, individuals, and states tackle the economic hardships of the pandemic.</p>
        <a class="btn btn-primary" href="/covid19-gvmt-stimulus">View Analysis
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="/covid19-unemployment">
          <img src="templates/img/analysis/unemployment.png" width="215" height="300" hspace="207">
          </a>
      </div>
      <div class="col-md-5">
        <h3>Unemployment</h3>
        <p>The COVID-19 pandemic resulted in mass unemployment across the U.S. as economic activity slowed and businesses had no choice but to engage in layoffs and even closures.</p>
        <a class="btn btn-primary" href="/covid19-unemployment">View Analysis
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-7">
        <a href="/covid19-business">
          <img src="templates/img/analysis/business.png" width="480" height="350" hspace="75">
          </a>
      </div>
      <div class="col-md-5">
        <h3>Businesses</h3>
        <p>As COVID-19 infiltrated the U.S., the vast majority of the country underwent strict self-isolation. This social distancing proved to be detrimental to many businesses and industries that heavily rely on in-person services.</p>
        <a class="btn btn-primary" href="/covid19-business">View Analysis
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">

      <div class="col-md-7">
        <a href="/covid19-gdp">
          <img src="templates/img/analysis/gdp.png" width="625" height="300" hspace="2">
          </a>
      </div>
      <div class="col-md-5">
        <h3>GDP Changes</h3>
        <p>The spread of the COVID-19 pandemic combined with social isolation led to decreased economic activity, as shown by falling GDP over the course of the pandemic. What do economists predict will happen next?</p>
        <a class="btn btn-primary" href="/covid19-gdp">View Analysis
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/covid19-economic-analysis">1</a>
      </li>
      <!--<li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>-->
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
