<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 6/20/2020 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 6/20/2020
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/unemployment-benefits-weekly-jobless-claims-coronavirus-11592431795">
        <img class="img-fluid rounded" src="templates/img/updates/2020/unemployment.png" height="500" width="300" hspace="190" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on June 21, 2020</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">  The current economic crisis has exposed a variety of inequalities that existed before the pandemic. </p>

          <p>Federal Reserve Chairman Jerome Powell said that the pandemic had “disproportionate effects on many areas that were already suffering.” These areas include particular geographic regions as well as racial and ethnic minorities. Federal Reserve Bank of Dallas President Robert Kaplan stated that “a more inclusive economy where everyone has opportunity will mean faster workforce growth, faster productivity growth, and we’ll grow faster.” Many other Federal Reserve officials concur with this statement, saying that systemic racism sets the U.S. economy back.</p>

          <p>Unemployment measures seem to have plateaued, but remain at a historical high of around 20 million. In the past week, 1.5 million more unemployment claims were filed; however, the number of people receiving unemployment benefits fell by 62,000 during the week that ended with June 6. Along with the decreasing amount of new weekly claims, other signs of economic reopening include revival of business activity, recalling workers, increase in retail spending, and rising payrolls. Unemployment benefit eligibility has been extended to self-employed and gig-economy workers.</p>

          <p> Congress is faced with numerous questions about further actions to provide economic relief. According to Chairman Powell, industries including travel, entertainment, and hospitality will likely suffer from a long period of high unemployment. Chairman Powell stated that the federal government will want to continue to support these unemployed workers in some way. Decreasing revenue due to the pandemic places strain on state budgets, resulting in state and local government job losses. Out of the $275 billion that Congress has provided to state governments, more than 50% cannot be used to substitute the declining revenue. Chairman Powell also stated that more widespread virus testing, contact tracing, and other confidence-inducing health measures will benefit the economy greatly. However, in order to allow the economy to bounce back and take steps toward re-employment, citizens must regain the confidence to go outdoors and take part in large gatherings.</p>

          <p>The Federal Reserve is considering extending its $600 billion lending program to nonprofits that have been running for at least 5 years and have up to $3 billion in endowments. The Main Street Lending program will buy the large majority of loans made by banks that amount to between $250,000 and $300 million. Nellie Liang and William English, two former Federal Reserve economists, believe that the terms of the Main Street Lending Program should be eased. Specifically, they suggest lengthening the period of time in which loans must be repaid while adding incentives for earlier repayment. They advocate for different rates depending on the risk and reliability of the borrower. The two economists also encourage loans even smaller than $250,000 to attract participation from smaller banks and businesses. In addition, Ms. Liang and Mr. English propose higher fees and increased compensation to promote bank participation.</p>

          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2020-june">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
           Read about racial inequalities, actions to provide greater economic relief, and changes in the Main Street Lending program.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
