<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 9/26/2020 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 9/26/2020
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/faltering-service-sector-weighs-on-global-recovery-as-infections-rise-11600853490">
        <img class="img-fluid rounded" src="templates/img/updates/2020/pmbai.png" height="400" width="300" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on September 27, 2020</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">  U.S. household net worth surged to its highest net worth ever in the second quarter of 2020, despite the economic shock absorbed from the beginning of the COVID-19 pandemic.  </p>

        <p>The Federal Reserve report Flow of Funds showed that the net worth of U.S. households increased 6.8% from the first quarter to the second, reaching $118.96 trillion. Although household-owned corporate equities declined by 25% in the first quarter, the losses were regained in the second quarter. Additionally, household real estate and bank account values have increased throughout the second quarter. The U.S. personal saving rate rose to a record 26% from 9.6% in the first quarter. According to the Federal Reserve, most of the financial hardships were absorbed by businesses and governments, and not so much by households.</p>

          <p>Treasury Secretary Steven Mnuchin and Federal Reserve Chairman Jerome Powell believe that there is not much more that can be done to redirect the central bank’s lending programs to support businesses and state and local governments. These programs have exhausted their capabilities for eligible borrowers, and today’s hopeful borrowers now need grants from Congress funding. In March, Mnuchin allocated $195 billion of the $454 billion provided from Congress to various lending programs. He is now suggesting that $200 billion of the remaining unused funds be redirected to other spending programs. The Main Street Lending Program has received a significant amount of criticism for its “low lending volume,” due in part to low interest from businesses seeking loans of less than $1 million.</p>

          <p>Surveys in Europe and Asia suggest that service provider activity declined during the month of September. Although the start of the third quarter saw a rise in output and recovery, industries requiring close physical proximity, such as tourism and entertainment, still struggle amidst government efforts to contain COVID-19. The purchasing managers business activity indexes for services fell to or below 50 in various European countries, including the U.K., France, Spain, and the Netherlands. Despite the falter in recovery in September, economists still expect third quarter economic output to increase. The Organization for Economic Cooperation and Development even lowered its global economic contraction estimate from 6% to 4.5%.</p>

          <p>The number of initial weekly unemployment claims rose slightly in the week that ended on September 19. Last week’s jobless claims totaled to 0.87 million, a slight increase from 0.866 million the week prior. The jobless rate is currently at 8.4%, a significant decrease from the record high of nearly 15% in April 2020. Employers are trying their best to bring back workers, but limited sales provide an obstacle to regaining pre-pandemic worker levels. In the manufacturing industry, U.S. long-lasting factory goods orders rose for the fourth month in a row in August, increasing by 0.4% from July. Investment in business equipment such as computers, communications equipment, and machinery increased by 1.8%, contributing towards a V-shaped GDP recovery. The manufacturing industry is recovering slowly after a strong rebound earlier in the summer, which is reflective of the slow in overall economic gains.</p>

          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2020-september">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            Read about the U.S. household net worth increase, redirection of funds to lending programs, international purchasing managers business activity, changes in the manufacturing industry, and more.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
