<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 10/3/2020 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 10/3/2020
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/september-jobs-report-unemployment-rate-2020-11601593020">
        <img class="img-fluid rounded" src="templates/img/updates/2020/payroll.png" height="400" width="350" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on October 4, 2020</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">  Upon receiving numerous complaints from small business owners, the Treasury Department announced that it would begin forgiving loans under the Paycheck Protection Program.  </p>

        <p>Forgiveness requests should be expected to be processed sometime this week or early next week, a short turnaround time for loans below $2 million. Since early August, nearly 100,000 business owners have seeked loan forgiveness. These requests constitute 2% of all loans, totaling to $525 billion in worth. Some officials are encouraging small business owners to apply for loan forgiveness, but others fear that the forgiveness process is too complex and slow. Overall, recent surveys show that many businesses across the nation could likely close down without immediate financial support.</p>

          <p>The Labor Department reported that 661,000 jobs were added in September, counting toward the 11.4 million jobs that were replaced of the 22 million jobs that were lost in March and April of 2020. The official unemployment rate for the month of September was reported to be 7.9%, which was a 0.5% drop from the previous month. Even so, layoffs continue to persist, worrying economists with a sign of prolonged unemployment for many across the country. In the third quarter, the amount of long-term unemployed workers was 23% Latino and 21% Black, both percentages of which are disproportionately high compared to their population makeup. Restrictions are easing at a slower pace than during early summer, so many unemployed workers are having a tough time seeking work opportunities.</p>

          <p>House Speaker Nancy Pelosi and Treasury Secretary Steven Mnuchin discussed Tuesday morning to try to reach an economic relief bill deal before the election takes place. Democrats released a new $2.2 trillion package proposal, marking a decrease from their prior proposals. After their conversation, the two officials expect to reach a deal sometime this week. Democrats are urging Speaker Pelosi to settle on a deal quickly, while conservatives are worried that spending too much before the election will result in low conservative voter turnout. The $2.2 trillion proposal includes another round of direct individual stimulus checks, a renewal of the $600 weekly federal unemployment benefits, and an extension of the Paycheck Protection Program. Other uses include state and local government support, increased food stamp benefits, and funds for businesses greatly affected by the COVID-19 pandemic.</p>

          <p>Although U.S. consumer spending rose in August, the Commerce Department reported a 2.7% decrease in U.S. personal income in August. This drop was likely due to expiration of federal weekly unemployment benefits and slow job growth. As economists analyze trends in spending and saving over the past eight months, they can see a significant dip in spending and spike in saving in April. After that point, spending and saving levels quickly shifted toward the pre-pandemic direction. Since then, indicators of economic recovery have displayed gradually slowing growth. It is unlikely that the U.S. will undergo a second recession, but at this point economists tend to concur that the remaining recovery will take place over the long term.</p>

          <p>Chinese President Xi Jinping has advocated for domestic circulation, which consists of supporting local supply chains and domestic consumption. By use of this policy, the Chinese economy will be more resilient to trade disruptions such as the U.S.-China trade war or the COVID-19 pandemic. Domestic circulation will also allow China to be more self-sufficient. However, many of the goods made in China have little value to Chinese citizens. Furthermore, China’s household consumption as a percentage of GDP is far below that of the U.S. Over the pandemic, some exports thrived, such as electronics and technology goods, whereas many others suffered, such as toys, ceramics, and clothing. One of the largest issues that domestic circulation has run into is lack of products that Chinese citizens actually want. Not only do the Chinese people favor certain foreign goods, but international countries also rely on goods made in China.</p>

          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2020-october">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            This week's update covers PPP loan forgiveness, a new stimulus package proposal, U.S. consumer spending and income, China's domestic circulation policy, and more.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
