<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 10/10/2020 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 10/10/2020
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/wsj-survey-43-of-economists-dont-see-u-s-gaining-back-lost-jobs-until-2023-11602165600">
        <img class="img-fluid rounded" src="templates/img/updates/2020/employee.png" height="400" width="350" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on October 11, 2020</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">  According to the results of a Wall Street Journal survey, many economists do not expect for the U.S. to regain lost jobs within the next year.  </p>

        <p>As of September 2020, the U.S. has 11 million fewer jobs than in February 2020, before the COVID-19 pandemic hit. However, this is a significant improvement from a record low of 22 million jobs lost as of April 2020. Roughly one third of economists believe that payrolls will return to its pre-pandemic level in the third quarter of 2022, 42.9% believe payrolls won’t fully recover until 2023, and 12.2% are not optimistic that this recovery will take place in the foreseeable future. Officials continue to push for more financial aid and stimulus to increase the chances of a strong economic recovery.</p>

          <p>The U.S. purchasing managers index for services for September was sustained at a level of 54.6, indicating expansion in the service sector. However, new restrictions due to the COVID-19 pandemic hindered service activity in the eurozone and certain regions of Asia. The eurozone’s PMI for services fell to 48 in September from 50.5 in August, signaling a decline in service-related activity. Spain was hit especially hard, experiencing a drop to 42.4 in September. Italy and France experienced declines of lesser magnitude. Japan’s service sector continues to show signs of weak activity through September. Australia’s PMI for services increased to 50.8 in September from 49 in August after lifting certain restrictions, so this might be a tactic that officials in Europe and Asia will take interest in to boost their economies.</p>

          <p>Federal Reserve Chairman Jerome Powell urges Congress and the White House to provide additional support to households and businesses that were impacted by the COVID-19 pandemic. He warns that without drastic action, the U.S. economy could potentially suffer from great consequences. President Trump, however, believes that the economy is doing well and plans to push back stimulus discussion to next month. The U.S. has replaced half of all jobs lost during the height of the pandemic, resulting in an unemployment rate decrease since then. On the other hand, indicators of economic recovery and growth including job gains, household income, and consumer spending have all experienced a slow in growth rate. Chairman Powell is concerned that the U.S. will exhibit “typical recessionary dynamics,” increasing the racial and wealth disparities in the country.</p>

          <p>The White House is preparing a $1.8 trillion stimulus proposal, which is a $200 billion increase from Treasury Secretary Mnuchin’s previous proposal but still substantially less than the Democrats’ minimum $2.2 trillion proposal. Speaker Pelosi urges for the bill to cover COVID-19 testing, contact tracing, isolation protocols, and vaccine creation and distribution. However, Secretary Mnuchin’s main focuses for this next stimulus bill cover financial aid for small businesses, airlines, and households. Agreement surrounding the bill has and will continue to take a long time. The timeline for the bill seems to be pushed back even further due to the nomination of a new Supreme Court Justice and the upcoming presidential election.</p>

          <p>Federal Reserve officials have outlined three requirements before lifting interest rates: the labor market must reach maximum employment goals, inflation must reach 2%, and there should be sufficient evidence that inflation will continue to be above 2%. Some officials believe that there is no need for precise forward guidance regarding interest rates, while others favor bolder, less qualified guidance. Either way, most officials tended to agree that without extra financial support from Congress and the White House, economic recovery would be conducted at a much slower pace. This stimulus is especially necessary for minority and low-income households who are experiencing financial difficulties as a result of the COVID-19 pandemic.</p>

          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2020-october">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            Read about expected payroll recovery time, international purchasing managers indices statuses, the new stimulus proposal, criteria to lift interest rates, and more.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
