<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 10/17/2020 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 10/17/2020
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/coronavirus-stimulus-spending-consensus-eludes-global-leaders-11602505683">
        <img class="img-fluid rounded" src="templates/img/updates/2020/debt.png" height="400" width="350" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on October 18, 2020</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">  This week, financial officials from the International Monetary Fund and World Bank gathered in a virtual meeting.  </p>

        <p>Unlike at the beginning of worldwide lockdowns, officials are divided on the extent of the need for financial stimulus. Developed economies have and will continue to borrow, thanks to historically low interest rates. However, developing countries do not have the same capacity to borrow, especially in times like these. Therefore, the IMF has expanded its emergency funds and directed them toward developing countries, and the World Bank plans to provide up to $160 billion to fight poverty and support COVID-19 relief. European Central Bank President Christine Lagarde, a former managing director of the IMF, is concerned that governments will withdraw spending too quickly as a result of misalignment of fiscal and monetary policy. Governments will need to eventually pull back spending, but timing is crucial in an economic situation like the COVID-19 pandemic.	</p>

          <p>The IMF projected for the world’s gross domestic product (GDP) to decline by 4.4% in 2020, which is less than the original 5.2% predicted in June. Additionally, forecasts for world growth in 2021 have decreased from a 5.4% rise to a 5.2% rise. The IMF stated that China will be the only economy to expand this year, growing by 1.9% in 2020 and forecasted to grow by 8.2% in 2021. Economists and university professors have commented on China’s effective use of stimulus in conjunction with virus control. Another large reason for China’s recovery was its increased demand in exports such as medical supplies and equipment. World trade volumes fell 10.4% in 2020, but are expected to rise 8.3% in 2021. Overall, global economies have experienced a sharper rebound in GDP growth as compared to the 2008 financial recession but are still expected to continue recovery into the following years.</p>

          <p>The federal government projects social security benefits to increase by 1.3% in the year 2021. The projected rise is less than the 1.6% increase between 2019 and 2020. The Labor Department reported that the consumer price index for urban wage earners and clerical workers for the third quarter was 1.3% higher than the same time last year, marking a 1.3% increase in living costs and leading to the 1.3% social security benefit increase. This alternate version of consumer price index (CPI) is slightly different from the overall CPI which measures price increases in the general economy, which increased 0.2% in September. Additionally, officials say that people earning up to $142,800 can receive social security benefits in 2021, as compared to $137,700 in 2020, which is a 3.7% increase.</p>

          <p>The week that ended on October 10, 2020, yielded 0.898 million jobless claims, a jump from the week prior. Unemployment claims have been staying steadily around 1 million per week since the beginning of August. The number of people continuing to receive unemployment benefits fell to 10.018 million from 11.183 million the previous week. However, these figures might not represent the true statistics regarding unemployment benefits, as the state of California has paused processing new claims for two weeks while clearing a backlog of unemployment filings and working to prevent unemployment fraud. Therefore, the figures reflected in this past week’s data reported by the Labor Department actually use California’s figures from the previous week.</p>

          <p>The Treasury Department reported that in the fiscal year that ended on September 30, 2020, the U.S. federal budget deficit tripled to $3.1 trillion. This significant increase mainly has to do with the COVID-19 pandemic, as the government has poured trillions to support the economy and widespread layoffs have taken place. The largest drop in federal receipts occurred in March 2020, when the pandemic hit the U.S. The total federal debt increased from $16.8 trillion in October 2019 to $21 trillion in September 2020. This figure demonstrates that federal debt has reached 102% of the U.S. GDP, exceeding 100% for the first time in more than 70 years.</p>

          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2020-october">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            This week's update covers the borrowing capacity of developing countries, international GDP growth, next year's increase in social security benefits, the U.S. federal budget deficit increase, and more.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
