<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Update 11/28/2020 | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Week of 11/28/2020
      <small>by
        <a href="/about">econScope</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="https://www.wsj.com/articles/consumer-confidence-dropped-in-november-amid-rising-covid-19-cases-11606231930">
        <img class="img-fluid rounded" src="templates/img/updates/2020/confidence.png" height="400" width="350" hspace="230" alt="">
        </a>

        <hr>

        <!-- Date/Time -->
        <p>Posted on November 29, 2020</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">  As COVID-19 cases surge across the nation, consumer outlook on the U.S. economy has dropped.  </p>

        <p>The Conference Board Consumer Confidence Index fell from 101.4 in October to 96.1 in November. In a Wall Street Journal survey, economists expected the index to fall only to 98. According to the senior director of economic indicators at the Conference Board, this decline was caused by falling expectations of the current and future states of the economy. With the current unemployment conditions and slowing recovery rate, consumers are skeptical that the labor market will heal significantly in the coming months. Other factors that influence consumer outlook include retail sales growth, state and local government restrictions, and private sector activity, all of which do not elude to strong economic recovery in the foreseeable future. Furthermore, COVID-19 cases are rising once again, which is a barrier to any substantial economic improvement.</p>

          <p>Unemployment claims rose for the second consecutive week, reaching an initially weekly amount of 778,000. Although significantly lower than the peak during this pandemic of 6.9 million initially weekly jobless claims, the current level remains higher than the pre-pandemic record. Because jobless claims are more susceptible to variation during the holidays, the Labor Department also reported that the four-week moving average increased by 5,000 to 748,500. These figures indicate that the recent rise in COVID-19 cases has taken a hit on the labor market. States such as Minnesota, Ohio, and Illinois experienced an increase in unemployment claims upon reporting a sharp increase in COVID-19 cases. Recent developments are expected to delay economic recovery even further, including rising cases, the winter season, and increased local restrictions. These factors are likely to suppress consumer spending and retail sales, which prohibits the growth of the economy.</p>

          <p>An increasing number of governors in the Midwestern region of the U.S. are seeking an additional round of federal stimulus to support small businesses. Federal stimulus funds given out at the start of the pandemic are beginning to run out, likely before the deadline of the end of 2020. The majority of funds given to states have been directed toward programs directly related to the COVID-19 health crisis, including personal-protective equipment, support for front-line health-care workers, and food banks. However, other businesses mainly in the service sector have suffered from insufficient demand from consumers. Funds from the Paycheck Protection Program have run out, and newly enforced restrictions have prevented businesses from recovering. Policy makers are concerned that small businesses won’t survive without another round of stimulus.</p>

          <p>As nations in Europe impose stricter lockdowns, their purchasing managers composite output indexes have declined from October to November 2020. The indexes of the U.K., France, and the eurozone as a whole have fallen below 50, denoting economic contraction. Germany’s index fell as well, but is still above the threshold of 50, indicating weaker economic growth. Although the service sector received a hard hit, the manufacturing sector was not as negatively impacted by the lockdowns. Eurozone GDP contracted by 11.8% in the second quarter of 2020, rebounded 12.6% in the third quarter, and economists now expect a 2.6% decline in the fourth quarter. Service employers were quick to engage in job layoffs, whereas manufacturing employers displayed a less dramatic reaction. This month marks the ninth month in a row wherein employment fell in the eurozone. The future of the eurozone’s economy depends on the success of the lockdowns and how quickly restrictions can be eased.</p>

          <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->


        <!-- Comments Form -->
        <!--<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>-->

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>-->

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>-->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!--<div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>-->

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Quick Access</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/updates-2020-november">Updates</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/covid19-cases-tracker">COVID-19 Tracker</a>
                  </li>
                  <li>
                    <a href="/covid19-economic-analysis">Economic Analysis</a>
                  </li>
                  <li>
                    <a href="/covid19-safety-info">Safety Information</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Page Summary</h5>
          <div class="card-body">
            This week's update covers dropping consumer confidence, rise in unemployment claims, additional federal stimulus, stricter lockdowns in Europe, and more.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
