<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Weekly Updates | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Weekly Updates
      <small>2020</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates 2020</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0829">
              <img class="img-fluid rounded" src="templates/img/updates/2020/wwii.png" height="380" width="300" hspace="100"alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 8/29/2020</h2>
            <p class="card-text">Read about global debt in comparison to the post-WWII period, different approaches to unemployment in the U.S. and eurozone, changes in consumer spending, unemployment claims, and more.</p>
            <a href="/updates-2020-0829" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on August 23, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0822">
              <img class="img-fluid rounded" src="templates/img/updates/2020/food.png" height="370" width="300" hspace="100"alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 8/22/2020</h2>
            <p class="card-text">This week's update covers rising food insecurity, enhanced unemployment benefits through FEMA, global PMI changes, and more.</p>
            <a href="/updates-2020-0822" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on August 23, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0815">
              <img class="img-fluid rounded" src="templates/img/updates/2020/cpigraph.png" height="350" width="300" hspace="100" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 8/15/2020</h2>
            <p class="card-text">Read about the U.S. federal budget gap, Social Security tax deferral, CPI and PPI increases, last week's unemployment claims, and more.</p>
            <a href="/updates-2020-0815" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on August 16, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0808">
              <img class="img-fluid rounded" src="templates/img/updates/2020/unemployedduration.png" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 8/8/2020</h2>
            <p class="card-text">This week's update covers international trade and production, disputes over weekly unemployment benefit extensions, July's unemployment statistics, and more.</p>
            <a href="/updates-2020-0808" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on August 9, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0801">
              <img class="img-fluid rounded" src="templates/img/updates/2020/socialdistancing.png" height="500" width="300" hspace="100" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 8/1/2020</h2>
            <p class="card-text">Read about additional economic relief, the consumer spending increase, updates on economic activity in the eurozone and China, and more.</p>
            <a href="/updates-2020-0801" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on August 2, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="/updates-2020-july">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
