<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Weekly Updates | econScope</title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Weekly Updates
      <small>2020</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates 2020</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0912">
              <img class="img-fluid rounded" src="templates/img/updates/2020/jobopenings.png" height="350" width="250" hspace="120"alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 9/12/2020</h2>
            <p class="card-text">Read about trends in job openings, proposals for the next COVID-19 stimulus bill, the mortgage market boom, economist expectations for the future, and more.</p>
            <a href="/updates-2020-0912" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on September 13, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0905">
              <img class="img-fluid rounded" src="templates/img/updates/2020/joblessaid.png" height="290" width="580" hspace="0"alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 9/5/2020</h2>
            <p class="card-text">This week's update covers further action considered by the Federal Reserve, plans for the next economic stimulus bill, unemployment rate and claims, global conditions regarding PMI and job cuts, and more.</p>
            <a href="/updates-2020-0905" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on September 6, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>



    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="/updates-2020-august">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
