<!DOCTYPE html>
<html lang="en">

<head>

  {% autoescape false%}
  {% include "header.html" %}
  {% endautoescape %}

  <title>Weekly Updates | econScope </title>

</head>

<body>

  <!-- Navigation -->
  {% autoescape false%}
  {% include "navigation.html" %}
  {% endautoescape %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Weekly Updates
      <small>2020</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Weekly Updates 2020</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0627">
              <img class="img-fluid rounded" src="templates/img/updates/2020/worldtrade.png" height="550" width="300" hspace="100" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 6/27/2020</h2>
            <p class="card-text">This week's update covers new aspects of jobless claims, effects of the pandemic on global trade, changes in business activity, and more.</p>
            <a href="/updates-2020-0627" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on June 28, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0620">
              <img class="img-fluid rounded" src="templates/img/updates/2020/unemployment.png" height="500" width="300" hspace="100" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 6/20/2020</h2>
            <p class="card-text">Read about racial inequalities, actions to provide greater economic relief, and changes in the Main Street Lending program.</p>
            <a href="/updates-2020-0620" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on June 21, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0613">
              <img class="img-fluid rounded" src="templates/img/updates/2020/federalrate.png" height="400" width="300" hspace="100" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 6/13/2020</h2>
            <p class="card-text">This week's update covers the expected length of the current recession, further economic stimulus from the federal government, unemployment fraud, and more.</p>
            <a href="/updates-2020-0613" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on June 14, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="/updates-2020-0606">
              <img class="img-fluid rounded" src="templates/img/updates/2020/comparison.png" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Week of 6/6/2020</h2>
            <p class="card-text">Read about economic suffering in light of recent events, Chinese economic activity, unemployment fraud, and more.</p>
            <a href="/updates-2020-0606" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on June 7, 2020 by
        <a href="/about">econScope</a>
      </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="/updates-2020-may">&larr; Older</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/updates-2020-july">Newer &rarr;</a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; econScope 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="templates/vendor/jquery/jquery.min.js"></script>
  <script src="templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
